<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://trn.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>trn.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>trn</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$trn</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="TRS.Repository.TransDataContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:trn.database.windows.net,1433;Initial Catalog=trn;User ID=trnadmin@trn;Password=Onmove01" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TRS.Repository.TransDataContext, TRS" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:trn.database.windows.net,1433;Initial Catalog=trn;User ID=trnadmin@trn;Password=Onmove01" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TRS.Repository.TranslationModel, TRS" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:trn.database.windows.net,1433;Initial Catalog=trn;User ID=trnadmin@trn;Password=Onmove01</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TRS.Repository.TransDataContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:trn.database.windows.net,1433;Initial Catalog=trn;User ID=trnadmin@trn;Password=Onmove01</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="TRS.Repository.TransDataContext" />
  </ItemGroup>
</Project>